<form action="/sign_in" method="post">
  <input name="username" placeholder="Username">
  <input name="password" placeholder="Password">
  <input name="password_confirmation" placeholder="Password Confirmation">
  <button type="submit">Add New User</button>
</form>

<a href='/sign_in'>Sign In</a>
