<form action="/user" method="post">
  <input name="username" placeholder="Username">
  <input name="password" placeholder="Password">
  <input name="password_confirmation" placeholder="Password Confirmation">
  <button type="submit">Add New User</button>
</form>

<form action="/user">
  <h3>Sign In</h3>
  <input name="username" placeholder="Username">
  <input name="password" placeholder="Password">
  <button type="submit">Sign In</button>
</form>
