<form action="/new_user" method="post">
  <input name="username" placeholder="Username">
  <input name="password" placeholder="Password">
  <input name="password_confirmation" placeholder="Password Confirmation">
  <button type="submit">Add New User</button>
</form>
