<%= @user.username %>
<form action="/user/<%= @user.id() %>" method="post">
  <input type="hidden" name="user_password" value="<%= @user.password() %>">
  <input name="info" placeholder="Info">
  <button type="submit">Submit</button>
</form>
<!-- no route for this right now -->

<%= @user.info %>
<br>
<a href='/logout'>Log Out</a>
<br>
<a href='/'>Home</a>
