<%= @user.username %>
<form action="/user/<%= @user.id() %>" method="post">
  <input type="hidden" name="user_password" value="<%= @user.password() %>">
  <input name="info" placeholder="Info">
  <button type="submit">Submit</button>
</form>

<%= @user.info %>
<a href='/'>Home</a>
